* {
    font-family: work sans;
    max-width: 1905px;
    padding: 0px;
    margin: 0, auto;
}

.p-color {
    color: #FF42A5;
}

.title {
    font-size: 2.8rem;
    font-weight: 700;
}

.description {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
}

.display1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.display2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.gradient {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Nav styles */
.navbar {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 37px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul>li {
    list-style: none;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
    padding-right: 30px;
}

.follow-btn {
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: 0px;
}

.nav-icon {
    width: 33.916px;
    height: 24px;
}

/* Banner styles */
.banner-container {
    padding-right: 240px;
    padding-left: 240px;
    padding-bottom: 100px;
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 50% 75vh;
}
.banner-content{
    
    padding-right: 60px;
}
.banner-heading {
    color: #0B0223;
    text-align: left;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 100px;
    margin-bottom: -50px;
}

.banner-title {
    text-align: left;
    font-size: 6.5rem;
    font-weight: 800;
}

.banner-description {
    color: #534C64;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 500;
}

.banner-btn {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#banner-btn1 {
    color: white;
    padding: 21px 40px;
    border-radius: 48px;
    border: 0px;
    background-color: #FF42A5;
}

#banner-btn2 {
    background-color: #4EC5F7;
    color: #ffffff;
    padding: 21px 40px;
    border-radius: 48px;
    border: 0px;
}

.banner-img {
    width: 719.446px;
    height: 681.018px;
}

/* Games Video */
.games-vdo-container {
    padding: 0px 240px;
}

.games-vdo-title {
    color: #0B0223;
    text-align: center;
}

.games-vdo-description {
    color: #534C64;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}

.games-vdos {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   gap: 20px;
}

.vdo {
    width: 342px;
    height: 400px;
    padding-top: 30px;
}

.photo:hover {
    border: 5px solid #FF42A5;
    border-radius: 16px;
}



/* Instant Play styles */
.instant-play {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 120px;
    padding-right: 100px;
}

.iplay-content {
    width: 290px;
    height: 500px;
    margin-right: 220px;
    text-align: right;
}

.iplay-img-container {
    width: 780px;
    height: 725px;
    position: relative;
}

.iplay-sml-img {
    width: 318px;
    height: 365px;
    border-radius: 8px;
    margin-top: 50%;
    margin-left: -18%;
    position: absolute;

}

.iplay-big-img {
    width: 635px;
    height: 650px;
    border-radius: 8px;
}

/* play games styles */
.play-games {
    margin-top: 120px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 240px;
    padding-right: 240px;
    background-color: rgba(255, 66, 165, 0.03);
}

.play-game-btn-container {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}

.play-games-btn {
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 50px;
    border: 0px;
    background: #FFF;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.play-games-btn:hover {
    border-color: #FF42A5;
    border: 1px solid;
    color: #FF42A5;
}

.pgame-btn-img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: cover no-repeat;
}

/* Footer */
.footer-container {
    background: #0B0223;
    padding-bottom: 130px;
}

.footer-head {
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer-about {
    padding-left: 30%;
    padding-right: 30%;
}

.social-media {
    padding-left: 40%;
    padding-right: 40%;
    gap: 10px;
}

.media-icon {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 40px;
    height: 40px;
}

.policies {
    padding-left: 30%;
    padding-right: 30%;
    gap: 10px;
}

footer ul>li>a {
    color: #FFF;
    text-decoration: none;

}

.footer-p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
}
@media screen and (max-width: 576px) {
    
    .navbar{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        background-color: #FFF;
        box-shadow: none;
    }
    .display1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-items: center;
        gap: 20px;
    }
    /* banner */
    .banner-container{
        padding: 0px;
        background-image: none;
    }
    .banner-content{
        background-image: url(images/Group\ 14.png);
        background-repeat: no-repeat;
        padding: 0px 100px;
        margin: 0px 50px;
        background-size: 100% 100vh;
        order: 2;
    }
    .banner-heading{
        font-size: 1.5rem;
        text-align: center;
        padding: 20px;
    }
    .banner-title{
        font-size: 3rem;
        text-align: center;
        height: 50px;
    }
    .banner-description{
        margin-left: 15%;
        width: 70%;
        text-align: left;
        font-size: .7rem;
    }
    .banner-btn{
        justify-content: center;
        padding: 20px 0px 50px 0px;
    }
    .banner-btn > #banner-btn1{
        padding: 16px 26px;
    }
    .banner-btn > #banner-btn2{
        padding: 16px 26px;
    }
    .banner-img{
        width: 300px;
        height: 500px;
        order: 1;
    }
    .banner-img>img{
        width: 100%;
        height: 100%;
    }
    /* Games Video */
    
}